@{
    ViewBag.Title = "About";
}
<div class="col-md-10">
    <h2>@ViewBag.Title</h2>
    <br />

    <h3>@ViewBag.Message</h3>
    <br />

    <p>I developed this patient documentation app during my last 4 weeks at Eleven Fifty Academy's softward development bootcamp. This program is designed for use in small healthcare offices or multi-clinic networks of any variety. Through the healthcare professional portal, patient-access staff can manage patient information and schedules, and healthcare providers can view patient information, schedules, and document treatments with a universal note creation service.</p>

    <p>NOTE: Many of the features of this application are only visible/accessible to users in specific roles. If you'd like to see more, contact me on <a href="https://www.linkedin.com/in/sabra-snider/" target="_blank">LinkedIn</a>.</p>
</div>
